google-generativeai
langchain-community
langchain-experimental
pypdf
python-docx
unstructured
sentence-transformers
faiss-cpu
fastapi
uvicorn[standard]
langchain-google-genai
tinydb
pydantic
PyMuPDF
python-dotenv